<?php
/**
 * @file database.local.php
 * @date Sep 30, 2013 
 * @author Sandro Meier
 */
 
return array(
	'doctrine' => array(
		'connection' => array(
			// default connection name
			'orm_default' => array(
				'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
				'params' => array(
					'host'     => 'localhost',
					'port'     => '3306',
					'user'     => 'root',
					'password' => 'root',
					'dbname'   => 'wgplaner',
				)
			)
		)
	)
);