<?php

return array(
	'doctrine' => array(
		'driver' => array(

			'cache' => array(
				'class' => 'Doctrine\Common\Cache\ApcCache'
			),

			'configuration' => array(
				'orm_default' => array(
					'metadata_cache' => 'apc',
					'query_cache'    => 'apc',
					'result_cache'   => 'apc'
				)
			),
		)
	)
);